<div class="row">
    <div class="col-12 col-sm-4">
        <div class="mb-2">
            <label for="export_warehouse" class="form-label">Export warehouse</label>
            <select class="form-control" id="export_warehouse">
            </select>
        </div>
        <div class="mb-2">
            <label for="action_type" class="form-label">Type</label>
            <select class="form-control" id="action_type">
                <option value="1">1 - Manual</option>
                <option value="2">2 - Automatic</option>
            </select>
        </div>
        <div class="mb-2">
            <button type="button" class="btn btn-primary" id="btn_add">
                <i class="bi bi-plus"></i> Add
            </button>
        </div>
    </div>
    <div class="col-12 col-sm-8">
        <table class="table table-primary table-hover">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Export Warehouse Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody class="tickets">
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal_details" tabindex="-1" aria-labelledby="details_header"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="details_header">
                    Details
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <label for="material" class="form-label">Material</label>
                        <select class="form-control" id="material"></select>
                    </div>
                    <div class="col-12 col-sm-4">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input type="number" value="0" class="form-control" id="quantity">
                    </div>
                    <div class="col-12 col-sm-4">
                        <label for="position" class="form-label">Position</label>
                        <select class="form-control" id="position"></select>
                    </div>
                </div>
                <table class="table table-primary table-hover">
                    <thead>
                        <tr>
                            <th>
                                <button class="btn btn-primary" id="btn_add_details" title="Add">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </th>
                            <th>Material</th>
                            <th>Quantity</th>
                            <th>Position</th>
                        </tr>
                    </thead>
                    <tbody class="details">
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/ExportWarehouse/ajax.js"></script>
<script src="~/js/ExportWarehouse/ExportWarehouse.js" defer></script>